In [2]:
# 시리즈를 셋팅
from pandas import Series, DataFrame
import pandas as pd
# 시리즈를 셋팅
# 판다스 : 다중의 데이터 ==> List
myCampus=Series([100,200,300,400,500],
index=["2024-07-01","2024-07-02","2024-07-03","2024-07-04","2024-07-05"])
print(type(myCampus))
print(myCampus)

<class 'pandas.core.series.Series'>
2024-07-01    100
2024-07-02    200
2024-07-03    300
2024-07-04    400
2024-07-05    500
dtype: int64

In [3]:
# 슬라이딩
myCampus["2024-07-05"]

np.int64(500)

In [4]:
#딕셔너리
data={"for":[1,2,3,4,5,6],
      "sra":[10,20,30,40,50,60],
      "org":[100,200,300,400,500,600],
      "spr":[1000,2000,3000,4000,5000,6000],
       "pri":[10000,20000,30000,40000,50000,60000]}
data

{'for': [1, 2, 3, 4, 5, 6],
 'sra': [10, 20, 30, 40, 50, 60],
 'org': [100, 200, 300, 400, 500, 600],
 'spr': [1000, 2000, 3000, 4000, 5000, 6000],
 'pri': [10000, 20000, 30000, 40000, 50000, 60000]}

In [5]:
frame=DataFrame(data,columns=["for","sra","org","spr","pri"])
frame

   for  sra  org   spr    pri
0    1   10  100  1000  10000
1    2   20  200  2000  20000
2    3   30  300  3000  30000
3    4   40  400  4000  40000
4    5   50  500  5000  50000
5    6   60  600  6000  60000

In [6]:
frame2=DataFrame(data,
                 columns=["for","sra","org","spr","pri"],
                 index=["2024-07-01","2024-07-02","2024-07-03","2024-07-04","2024-07-05","2024-07-06"])

frame2

            for  sra  org   spr    pri
2024-07-01    1   10  100  1000  10000
2024-07-02    2   20  200  2000  20000
2024-07-03    3   30  300  3000  30000
2024-07-04    4   40  400  4000  40000
2024-07-05    5   50  500  5000  50000
2024-07-06    6   60  600  6000  60000

In [7]:
frame2["org"]

2024-07-01    100
2024-07-02    200
2024-07-03    300
2024-07-04    400
2024-07-05    500
2024-07-06    600
Name: org, dtype: int64

In [8]:
#행 슬라이딩

frame2.loc["2024-07-02"]

for        2
sra       20
org      200
spr     2000
pri    20000
Name: 2024-07-02, dtype: int64

In [9]:
#행과 열을 전환
frame2.T

     2024-07-01  2024-07-02  2024-07-03  2024-07-04  2024-07-05  2024-07-06
for           1           2           3           4           5           6
sra          10          20          30          40          50          60
org         100         200         300         400         500         600
spr        1000        2000        3000        4000        5000        6000
pri       10000       20000       30000       40000       50000       60000

In [13]:
ft=frame2.loc["2024-07-02"]
ftt=ft.T
print(ftt)

for        2
sra       20
org      200
spr     2000
pri    20000
Name: 2024-07-02, dtype: int64